<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.camera2basic">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">
        <activity
            android:name="ui.killemall.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui.killemall.HitlistActivity"
            android:label="@string/title_activity_hitlist"
            android:parentActivityName="ui.killemall.MainActivity"
            android:theme="@style/ListTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.killemall.MainActivity" />
        </activity>
        <activity
            android:name="ui.killemall.ShowActivity"
            android:label="@string/title_activity_show"
            android:parentActivityName="ui.killemall.HitlistActivity"
            android:theme="@style/ListTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.killemall.HitlistActivity" />
        </activity>
    </application>

</manifest>
